/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

nav {
  border: 1px solid red;
}


nav input {
  float: right;
  display: inline;
}

.my_questions{
}


.title {
  font-weight: bold;
  font-size: 25px;
}

.answer {
  margin-top: 15px;
  display: inline-block;
  border: 1px solid silver;
  width: 600px;
}

/*===== toggle effects =====*/
a.submit_answer_toggle {
  text-decoration: none;
  color: #FF9900;
}

a.answers_toggle {
  text-decoration: none;
  color: #FF9900;
}

.submit_answer {
  display: none;
}

/*==========================*/


.single_question {
  display: inline-block;
}

.votes {
  text-align: center;
  display: inline-block;
  width: 50px;
}

.author {
  background-color: silver;
  margin-left: 300px;
  display: inline-block;
}

.notice {
  margin-top: 50px;
  text-align: center;
  color: red;
  font-weight: bold;
}

fieldset {
  margin-top: 5px;
}
